.game{
    background-repeat: no-repeat ;
    /* background-image: url('../img/游戏没开始的背景.jpg') ; */
    background-image: url('../img/游戏没开始的背景.png') ;
    width: 1000px;
    height: 600px;
    background-size: 100% 100%;
    position: relative;
}
.button{
    border:1px solid black;
    padding:5px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    position: absolute;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 20;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.button1{
    border:1px solid black;
    padding:5px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    display: none;
    position: absolute;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.job{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.button2{
    border:1px solid black;
    padding:5px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    display: none;
    position: absolute;
    background: white;
    right: 20px;
    top: 20px;
    z-index: 20;
}
.gz{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 220px;
    font-size: 15px;
    color:#D681A8;
}